<br><br>
<h2 class="header center orange-text">Nova Pasta</h2>
<div class="row center">
  <h5 class="header col s12 light"></h5>
</div>


<%= render 'form', actionfolder: @actionfolder %>

<%= link_to 'Back', actionfolders_path %>
