
<div class="row">
        <div class="col s12 m6 l3">
            <div class="card">
              <div class="card-content cyan white-text">
                <p class="card-stats-title">
                  <i class="material-icons">folder</i> Novas Pastas</p>
                <h4 class="card-stats-number"><%= @totalpastas %></h4>
                <p class="card-stats-compare">
                  <i class="material-icons">keyboard_arrow_up</i> 15%
                  <span class="cyan text text-lighten-5">from yesterday</span>
                </p>
              </div>
       
            </div>
          </div>
      
          <div class="col s12 m6 l3">
              <div class="card">
                <div class="card-content red accent-2 white-text">
                  <p class="card-stats-title">
                    <i class="material-icons">attach_money</i>Total Encerrado</p>
                  <h4 class="card-stats-number"><%= @totalencerrado %></h4>
                  <p class="card-stats-compare">
                    <i class="material-icons">keyboard_arrow_up</i> 70%
                    <span class="red-text text-lighten-5">last month</span>
                  </p>
                </div>
            
              </div>
            </div>
      
            <div class="col s12 m6 l3">
                <div class="card">
                  <div class="card-content deep-orange accent-2 white-text">
                    <p class="card-stats-title">
                      <i class="material-icons">content_copy</i> Total Baixado</p>
                    <h4 class="card-stats-number"><%= @totalbaixado %></h4>
                    <p class="card-stats-compare">
                      <i class="material-icons">keyboard_arrow_down</i> 3%
                      <span class="deep-orange-text text-lighten-5">from last month</span>
                    </p>
                  </div>
           
                </div>
              </div>
      
              <div class="col s12 m6 l3">
                  <div class="card">
                    <div class="card-content teal accent-4 white-text">
                      <p class="card-stats-title">
                        <i class="material-icons">trending_up</i> Today Profit</p>
                      <h4 class="card-stats-number">$806.52</h4>
                      <p class="card-stats-compare">
                        <i class="material-icons">keyboard_arrow_up</i> 80%
                        <span class="teal-text text-lighten-5">from yesterday</span>
                      </p>
                    </div>
            
                  </div>
                </div>
      </div>